@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  color: #343434;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.logo {
  text-align: center;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 21px;
  width: 100%;
  color: #343434; }

.color-accent {
  color: #FE9456; }

.bg-yellow {
  background: #FFF0CB; }

.bg-blue {
  background: #CFEBFF; }

.bg-orange {
  background: #FFE1CB; }

.container {
  position: relative;
  max-width: 1220px;
  padding: 0 20px; }

.row {
  margin: 0 -10px; }

h1, h3 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  line-height: 37px; }

h2 {
  font-size: 46px;
  font-weight: 800;
  line-height: 57px; }

.p-120 {
  padding: 120px 0; }

button {
  outline: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
    border-radius: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  border-radius: 50px;
  padding: 18px 23px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-accent {
  color: #FFFFFF;
  background: #FE9456; }
  .btn-accent:hover {
    background: #FFE1CB;
    color: #343434; }

.btn-icon {
  margin: 0 8px 0 0;
  width: 20px;
  height: 20px;
  min-width: 20px; }

.box-text {
  font-size: 22px;
  line-height: 28px; }
  .box-text p {
    margin: 0 0 28px; }
    .box-text p:last-child {
      margin: 0; }

.w-100 {
  width: 100%; }

.row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mb-45 {
  margin-bottom: 45px; }

.d-inline {
  display: inline-block; }

header {
  position: relative;
  padding: 24px 0; }
  header:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 0 50px 50px 0;
    background: #FFE1CB;
    height: 100%;
    width: calc(100% - 162px); }
  header .logo {
    margin: 0 auto; }

main {
  position: relative;
  z-index: 1;
  padding: 70px 0 80px; }
  main:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 1179px;
    height: 589px;
    background: url("../img/decor1.svg") no-repeat center;
      background-size: 100%;
    bottom: 10px;
    right: -487px; }
  main:after {
    content: '';
    position: absolute;
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background: #FFE1CB;
    right: 566px;
    top: 186px;
    z-index: -1; }
  main .btn {
    margin: 0 0 46px; }

.main-content {
  max-width: 500px; }
  .main-content .box-text {
    max-width: 280px;
    margin: 22px 0; }

.schedule {
  max-width: 580px;
  width: 100%;
  padding: 34px 70px;
  border: 2px solid #FFE1CB;
    border-radius: 55px; }
  .schedule h3 {
    margin: 8px 0 5px; }

.schedule-top {
  width: 100%; }

.schedule-body {
  width: 100%;
  position: relative; }

.img-diagram {
  position: absolute;
  right: 20px;
  top: 7px; }

.img-mobile {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 0; }

.schedule-body-line {
  width: 100%;
  position: relative;
  margin: 30px 0 0;
  line-height: 26px; }
  .schedule-body-line:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: 1px;
    width: calc(100% - 40px);
    background: #E1E1E1; }

.main-img {
  position: absolute;
  right: -40px;
  bottom: -80px;
  width: 303px; }

.schedule-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 0 40px; }

.schedule-footer-img {
  width: 100%; }

.dashboard-items {
  max-width: 480px;
  width: 100%; }

.dashboard-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 18px;
  width: 100%;
  border: 2px solid #FFE1CB;
    border-radius: 55px;
  background: #fff;
  line-height: 26px; }
  .dashboard-item h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 37px; }
  .dashboard-item:last-child {
    margin: 0; }
  .dashboard-item__icon {
    background: #FFE1CB;
    border-radius: 50%;
    width: 80px;
    height: 81px;
    min-width: 80px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .dashboard-item__text {
    padding: 10px 20px 8px; }

.your-condition .schedule {
  padding: 18px 70px; }
  .your-condition .schedule h3 {
    margin: 8px 0 5px; }

.your-condition .schedule-footer {
  padding: 0;
  margin: 9px 0 0; }
  .your-condition .schedule-footer span {
    margin: 5px 0 0;
    line-height: 26px;
    display: inline-block; }

.your-condition h3 {
  margin: 0 0 45px; }

.motivation {
  padding: 75px 0; }

.motivation-content .box-text {
  margin: 22px 0; }

.motivation-img {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.result-work h2 {
  margin: 0 0 46px; }

.reduce-volumes .box-text {
  font-size: 16px; }

.reduce-volumes ul {
  margin: 46px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .reduce-volumes ul li {
    width: 33.3%; }

.reduce-volumes .btn {
  margin: 46px 0 0; }

.list-check li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px; }

.icon-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FE9456;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  min-width: 33px;
  margin: 0 12px 0 0; }

footer {
  padding: 0 0 30px 0; }
  footer .logo {
    text-align: left; }

.copyright {
  font-weight: bold;
  text-align: right; }

.result-work-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .result-work-box .box-text {
    font-size: 16px;
    line-height: 26px;
    max-width: 430px; }
  .result-work-box h3 {
    margin: 0 0 22px; }
  .result-work-box .list-check {
    margin: 0 0 46px; }
    .result-work-box .list-check li {
      margin: 22px 0 0; }

.result-work-img {
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 380px;
  height: 380px;
  padding: 180px 80px 0; }

.result-work-img.p-0 {
  padding: 0; }
  .result-work-img.p-0 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.advantages h2 {
  margin: 0 0 40px; }

.card {
  border: 2px solid #FFE1CB;
    border-radius: 25px;
  margin: 0 0 22px; }

.accordion > .card:not(:last-of-type) {
  border: 2px solid #FFE1CB;
    border-radius: 25px; }

.card-header {
  background: transparent;
  border: none;
  padding: 26px;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .card-header h4 {
    font-size: 22px;
    line-height: 28px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .card-header h4:after {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      width: 33px;
      min-width: 33px;
      height: 33px;
      border-radius: 50%;
      background: #FE9456 url("../img/arrow-right.svg") no-repeat center;
        background-size: 9px;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
  .card-header .collapsed:after {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

.card-body {
  padding: 0 80px 28px 26px;
  line-height: 26px; }

.accordion > .card > .card-header {
  border-radius: 25px;
  margin: 0; }

.accordion > .card:not(:first-of-type) {
  border-radius: 25px; }

.advantages-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.warranty .box-text {
  max-width: 500px; }

.warranty .result-work-img {
  width: 500px;
  height: 500px; }

.list-payment {
  margin: 30px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-payment li {
    margin: 0 20px 0 0; }
    .list-payment li:last-child {
      margin: 0; }

.home {
  padding: 70px 0 0; }
  .home:after {
    right: 560px;
    top: 58px;
    width: 57px;
    height: 57px; }
  .home:before {
    background: #FFF0CB;
    width: 953px;
    height: 953px;
    right: -374px;
    top: 75px;
    bottom: auto;
    border-radius: 50%; }
  .home h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 80px; }
  .home .main-content {
    max-width: none; }
  .home .box-text {
    max-width: 354px;
    margin: 46px 0 22px; }

.home-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 420px;
  height: 420px;
  border: 30px solid #fff; }

.plane {
  position: relative;
  z-index: 1; }
  .plane h3 {
    margin: 0 0 46px; }
  .plane ul {
    font-size: 22px; }

.plane-img {
  border-radius: 50%;
  width: 540px;
  height: 540px;
  border: 30px solid #FFFFFF;
  background: #FFE1CB;
  overflow: hidden;
  padding: 136px 100px; }

.header {
  padding: 13px 0; }
  .header:before {
    width: calc(100% - 50px); }

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 32px 0 auto;
  font-size: 22px;
  color: #000000; }

.countdown-time {
  margin: 0 0 0 5px; }

.colorDefinition {
  border: none;
    border-radius: 0;
  background: transparent;
  width: auto;
  height: auto; }

.timerDisplay {
  padding: 0; }

.displaySection {
  border: none; }

.periodDisplay {
  display: none; }

.numberDisplay {
  font-size: 22px;
  color: #000000;
  font-weight: normal;
  font-family: "Gilroy", sans-serif;
  line-height: 28px; }

.label2 .displaySection {
  width: auto; }

.displaySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 22px; }
  .displaySection:after {
    content: ':';
    display: inline-block;
    margin: 0 2px;
    font-family: "Gilroy", sans-serif; }
  .displaySection:last-child:after {
    display: none; }

.reviews {
  padding: 120px 0 110px; }
  .reviews .container:before {
    content: '';
    position: absolute;
    width: 143px;
    height: 123px;
    top: -69px;
    left: -90px;
    background: url("../img/quote.svg") no-repeat center;
      background-size: 100%;
    opacity: .5;
    z-index: -1; }

.reviews-wrapper {
  width: 100%;
  background: #FFF0CB;
  border-radius: 25px;
  padding: 54px 80px 66px;
  position: relative;
  z-index: 1; }
  .reviews-wrapper h3 {
    margin: 0 0 46px; }
  .reviews-wrapper .box-text {
    font-size: 16px; }

.reviews-img p {
  margin: 10px auto 0;
  text-align: center; }

.reviews-img img {
  border-radius: 25px; }

.question {
  padding: 70px 0 80px;
  position: relative;
  overflow: hidden; }
  .question:before {
    content: '';
    position: absolute;
    left: -165px;
    bottom: -84px;
    border-radius: 50%;
    background: #FFD9A0;
    opacity: .5;
    width: 572px;
    height: 572px; }
  .question:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 97px;
    right: 110px;
    background: #FFD9A0;
    opacity: .5;
    width: 168px;
    height: 168px; }
  .question .container {
    z-index: 1; }
    .question .container:before {
      content: '';
      bottom: -56px;
      right: -95px;
      position: absolute;
      width: 335px;
      height: 376px;
      background: url("../img/apple-decor.svg") no-repeat center;
        background-size: contain;
      z-index: -1; }
  .question h2 {
    margin: 0 0 46px; }

.question-box {
  background: #fff;
  padding: 40px 32px; }
  .question-box .box-text {
    font-size: 16px;
    line-height: 26px; }
  .question-box h3 {
    margin: 56px 0 12px; }

.reviews-section {
  padding: 120px 0 0; }
  .reviews-section h2 {
    margin: 0 auto 46px; }

.reviews-card {
  margin: 0 auto 46px;
  padding: 0 10px; }
  .reviews-card__head {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.reviews-card__photo {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin: 0 auto 8px; }

.links-soc {
  text-align: center;
  color: #343434;
  font-weight: bold; }

.reviews-card__body {
  background: #FFEDE0;
  border-radius: 10px;
  position: relative;
  margin: 33px auto 0;
  padding: 31px 36px;
  color: #18191F;
  text-align: center;
  line-height: 26px; }
  .reviews-card__body:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -15px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border-bottom: 15px solid #FFEDE0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent; }

.slick-slide {
  outline: none; }

.slick-dots {
  width: 100%;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slick-dots li {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border: 1px solid #FE9456;
      border-radius: 50%;
    background: #FE9456;
    margin: 0 12px 0 0; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    border: 3px solid #FE9456;
    width: 14px;
    height: 14px;
    background: #fff; }

.planes h2 {
  margin: 0 auto 46px; }

.planes .btn {
  width: 100%;
  margin: 0 0 20px;
  height: 62px;
  padding: 10px; }
  .planes .btn:last-child {
    margin: 0; }

.planes .list-payment {
  margin: 46px auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.plane-card {
  margin: 0 0 28px;
  position: relative;
  border: 2px solid #FE9456;
    border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.list-label {
  position: absolute;
  left: 0;
  top: -11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 17px;
  line-height: 17px;
  font-size: 12px; }
  .list-label li {
    margin: 0 8px 0 0;
    padding: 2px 5px;
    border-radius: 17px; }
    .list-label li:last-child {
      margin: 0; }

.plane-card__footer {
  color: #fff;
  width: 100px;
  padding: 15px;
  text-align: center;
  background: #FE9456;
  border-radius: 16px;
  margin: 0 -2px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.plane-card__body {
  width: calc(100% - 100px);
  padding: 21px 17px; }
  .plane-card__body h3 {
    color: #FE9456;
    margin: 0 0 19px; }

.price-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 19px;
  color: #626262; }

.old-price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin: 0 5px 0 0; }

.price-stage {
  font-weight: 600; }

.modal-dialog {
  max-width: 620px; }

.modal-content {
  border: none;
  border-radius: 25px;
  padding: 39px 53px; }
  .modal-content .btn {
    max-width: 380px;
    width: 100%; }
  .modal-content .price {
    max-width: 270px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    line-height: 28px; }
  .modal-content ul {
    margin: 46px 0;
    font-size: 22px; }

.modal-header {
  border: none;
  padding: 0; }

.modal-body {
  padding: 0;
  margin: 30px 0;
  border: none; }

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none; }
  .modal-footer > * {
    margin: 0; }

.color-black {
  color: #343434; }
  .color-black:hover {
    color: #FE9456; }

.links-close {
  margin: 10px auto 0;
  font-size: 18px;
  font-weight: 500; }

.modal-banner {
  position: relative;
  width: 100%; }
  .modal-banner h3 {
    max-width: 264px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    padding: 0 38px; }
  .modal-banner img {
    width: 100%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1250px) {
  main:before {
    width: 650px;
    height: 325px;
    right: -371px; }
  .main-img {
    width: 250px;
    right: 0;
    z-index: -1; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .schedule {
    margin: 0 0 20px; }
  main:after {
    width: 80px;
    height: 80px;
    right: -20px;
    bottom: 350px;
    top: auto; }
  .main-img {
    width: 128px;
    z-index: 1; }
  .your-condition h3 {
    margin: 0 0 22px; }
  .motivation-img {
    position: relative;
    top: 0;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .motivation {
    padding: 20px 0 45px; }
    .motivation .btn {
      margin: 0 auto; }
  .motivation-content {
    text-align: center;
    margin: 17px 0 0; }
    .motivation-content .box-text {
      font-size: 16px; }
  .value-img {
    margin: 46px auto 0; }
  .reduce-volumes .btn {
    margin: 28px 0 0; }
  .result-work-img {
    width: 280px;
    height: 280px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1, h3 {
    font-size: 26px;
    line-height: 32px; }
  h2 {
    font-size: 34px;
    line-height: 42px; }
  header:before {
    width: calc(100% - 20px); }
  main {
    padding: 52px 0 242px; }
  .main-content .box-text {
    margin: 16px 0 32px; }
  .box-text {
    font-size: 20px; }
  .btn {
    padding: 16.5px 28px; }
  .main-img {
    right: -10px;
    bottom: -240px; }
  .dashboard-item {
    margin: 0 0 20px;
    border-radius: 18px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .dashboard-item__icon {
      width: 70px;
      min-width: 70px;
      border-radius: 18px;
      height: auto;
      margin: 0 0 0 -2px;
      padding: 10px 20px; }
    .dashboard-item h4 {
      font-size: 26px;
      line-height: 32px; }
    .dashboard-item__text {
      padding: 15px 18px; }
  .p-120 {
    padding: 100px 0; }
  .your-condition .schedule h3 {
    margin: 3px 0 5px; }
  .box-text p {
    margin: 0 0 22px; }
  .reduce-volumes ul {
    margin: 22px 0 0; }
  .list-check li {
    margin: 0 0 20px; }
  .result-work-img {
    margin: 0 auto 46px; }
  .result-work-content {
    text-align: center; }
    .result-work-content .box-text {
      max-width: none; }
    .result-work-content ul {
      text-align: left; }
    .result-work-content .btn {
      margin: 0 auto; }
  .mb-45 {
    margin-bottom: 75px; }
  .advantages {
    padding: 46px 0 100px; }
  .card-header {
    padding: 30px 20px; }
    .card-header h4 {
      font-size: 20px;
      line-height: 24px; }
  .card-body {
    padding: 0 20px 30px; }
  footer .logo {
    text-align: center; }
  .copyright {
    text-align: center;
    margin: 30px auto 0;
    max-width: 205px;
    width: 100%;
    line-height: 26px; }
  .logo {
    font-size: 20px; }
  .header:before {
    width: 100%;
    border-radius: 0; }
  .header .btn {
    height: 50px;
    padding: 8px; }
  .header .btn-icon {
    display: none; }
  .timer, .labelformat, .numberDisplay {
    font-size: 16px;
    line-height: 24px; }
  .displaySection:after {
    font-size: 16px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
  .schedule {
    padding: 23px 20px 17px;
    border-radius: 18px; }
  .img-diagram {
    display: none; }
  .img-mobile {
    display: block; }
  .schedule-body-line {
    margin: 20px 0 0;
    line-height: 24px; }
  .your-condition .schedule {
    padding: 18px 20px 30px; }
    .your-condition .schedule .schedule-footer {
      font-size: 12px; }
  .reduce-volumes ul li {
    width: 50%; }
  .modal-content {
    padding: 24px 15px; }
    .modal-content h3 {
      font-size: 16px; }
    .modal-content ul {
      margin: 17px 0;
      font-size: 14px; }
      .modal-content ul li {
        margin: 0 0 12px; }
    .modal-content .icon-check {
      width: 20px;
      height: 20px;
      min-width: 20px;
      margin: 0 15px 0 0;
      padding: 5px; }
    .modal-content .price {
      font-size: 14px;
      text-align: left;
      max-width: 175px;
      line-height: 17px; }
    .modal-content .btn {
      padding: 13.5px;
      max-width: 220px;
      font-size: 14px; }
  .links-close {
    margin: 9px auto 0;
    font-size: 14px; }
  .modal-body {
    margin: 8px 0 17px; }
  .modal-banner h3 {
    padding: 0 19px;
    line-height: 18px; } }

@media only screen and (max-width: 480px) {
  .timer {
    max-width: 127px;
    margin: 0; }
  .countdown-time {
    margin: 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
